.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin,fade infinite 20s linear; */
  /* animation: fade infinite 1s linear; */
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes fade{
  0%{
    opacity: 0;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  75%{
    opacity: 1;
  }
  90%{ 
    opacity: 0;
  }
  100%{ 
    opacity: 1;
  }
}

.fade{

}

/*Estado inicial de entrada*/
.fade-enter{
  /* background: red; */
  animation: fade 1s;
}

/*estado final de entrada*/
.fade-enter-active{
  /* background: blue;
  transition-duration:1s; */
}

/*Estado inicial de salida*/
.fade-leave{
  /* transform: translateY(0); */
  animation: fade 1s;
} 

/*Estado final de salida*/
.fade-leave-active{
  /* transition-duration:1s;
  transform: translateY(500px); */
}
